@import url('variaveis.css');

.titulo-cadastro {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-left: 10%;
    margin-bottom: 0px;
    font-size: 1.6rem;
}

.texto-formulario {
    font-size: 1.1rem;
    font-family: var(--fonte-principal);
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
    text-align: justify;
}

.formulario {
    width: 80%;
    padding: 5%;
    border-radius: 35px;
    border: solid 1px var(--cor-primaria);
    background-color: lightgray;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitulo-formulario {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    margin-top: 0px;
}

.campos-formulario {
    width: 90%;
}

.botao {
    text-align: center;
}

.btn {
    width: 80%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.btn:hover {
    background-color: var(--cor-secundaria);
}

#nome {
    width: 100%;
}

#email {
    width: 100%;
}

#telefone {
    width: 45%;
}

#cnpj {
    width: 60%;
}

#descricao {
    width: 100%;
}

.produtor {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px var(--cor-primaria);
    border-radius: 20px;
    padding: 15px;
}

.titulo-produtor {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

.dados-produtor {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column
}

.dados-produtor img {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.contato {
    margin: 20px 0 5px 0;
}

.subtitulo-produtor {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    margin-left: 10%;
}

.texto-produtos {
    text-align: center;
}

/* Estilos para tablets */
@media (min-width: 768px) {
    .formulario {
        width: 40%;
        padding: 3%;
    }

    .texto-formulario {
        width: 80%;
    }

    #telefone {
        width: 40%;
    }
    
    #cnpj {
        width: 45%;
    }

    .dados-produtor {
        flex-direction: row
    }

    .dados-produtor img {
        width: 30%;
        height: auto;
        border-radius: 8px;
        margin-right: 5%;
    }
}

/* Estilos para Desktop e Laptop */
@media (min-width: 1024px) {
    .formulario {
        width: 30%;
        padding: 2%;
    }

    .descricao {
        width: 50%
    }

    .texto-formulario {
        width: 60%;
    }

    #telefone {
        width: 36%;
    }
    
    #cnpj {
        width: 41%;
    }

    .dados-produtor {
        flex-direction: row
    }

    .dados-produtor img {
        width: 30%;
        height: auto;
        border-radius: 8px;
        margin-right: 5%;
    }
}