@import url('variaveis.css');

.titulo {
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-left: 10%;
    margin-bottom: 0px;
    font-size: 1.6rem;
}

.texto-contato {
    font-size: 1.1rem;
    font-family: var(--fonte-principal);
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
    text-align: justify;
}

.formulario {
    width: 80%;
    padding: 5%;
    border-radius: 35px;
    border: solid 1px var(--cor-primaria);
    background-color: lightgray;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitulo {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    margin-top: 0px;
}

.campos-formulario {
    width: 90%;
}

.botao {
    text-align: center;
}

.btn {
    width: 80%;
    padding: 10px;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.btn:hover {
    background-color: var(--cor-secundaria);
}

#nome {
    width: 100%;
}

#email {
    width: 100%;
}

#mensagem {
    width: 100%;
}

/* Estilos para tablets */
@media (min-width: 768px) {
    .formulario {
        width: 40%;
        padding: 3%;
    }

    .texto-contato {
        width: 80%;
    }
}

/* Estilos para Desktop e Laptop */
@media (min-width: 1024px) {
    .formulario {
        width: 30%;
        padding: 2%;
    }

    .texto-contato {
        width: 60%;
    }
}