@import url('variaveis.css');

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.logo {
    text-align: center;
    width: 15%;
}

.btn {
    padding: 3px;
    background-color: var(--cor-primaria);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s;
    margin-left: 1rem;
}

.btn:hover {
    background-color: var(--cor-secundaria);
}

img {
    width: 100%;
    height: auto;
}

.links {
    width: 85%;
    text-align: end;
    margin-right: 1rem;
}

a {
    margin: 0 0.5rem;
    color: white;
    font-size: 0.7rem;
    font-family: var(--fonte-principal);
    text-decoration: none;
}

/* Estilos para Tablets */
@media (min-width: 768px) {
    .logo {
        width: 15%;
    }

    .links {
        margin-right: 1rem;
    }

    img {
        width: 60%
    }

    a {
        font-size: 1.2rem;
    }
}

/* Estilos para laptops */
@media (min-width: 1024px) {
    .logo {
        width: 10%;
    }

    img {
        width: 60%
    }

    a {
        font-size: 1.2rem;
    }
}

/* Estilos para Desktop */
@media (min-width: 1440px) {
    .logo {
        width: 10%;
    }

    .links {
        width: 90%;
        margin-right: 3rem;
    }

    img {
        width: 55%
    }

    a {
        font-size: 1.2rem;
    }
}