@import url(../css/variaveis.css);


.info-produtor {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px var(--cor-primaria);
    border-radius: 20px;
    padding: 15px;
}

.titulo {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
}

.produtor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    flex-direction: column
}

.produtor img {
    width: 90%;
    height: auto;
    border-radius: 8px;
}

.contato {
    margin-top: 20px;
}

.contato {
    margin: 5px 0;
}

.compra {
    width: 90%;
    margin: 0 auto;
}

.subtitulo {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    margin-left: 5%;
}

#produtos {
    width: 100%;
    margin: 0 auto;
}

.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
}

.tabela-produtos th, .tabela-produtos td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.tabela-produtos th {
    background-color: #f2f2f2;
}

.botao-tabela {
    padding: 10px;
    margin: 0 auto;
    display: block;
}

.tabela {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
}

.botao {
    text-align: end;
}

.btn {
    background-color: var(--cor-primaria);
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: white;
    font-family: var(--fonte-principal);
}

a {
    font-family: var(--fonte-principal);
    text-decoration: none;
    color: white;
}

/* Estilos para celulares medios */
@media (min-width: 375px) {
    .tabela {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* Estilos para tablets */
@media (min-width: 768px) {
    .produtor {
        flex-direction: row
    }

    .produtor img {
        width: 30%;
        height: auto;
        border-radius: 8px;
        margin-right: 5%;
    }

    #produtos {
        width: 80%;
    }

    .tabela {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .carrinho {
        display: flex;
        justify-content: flex-end;
    }
}

/* Estilos para Desktop e Laptop */
@media (min-width: 1024px) {
    .produtor {
        flex-direction: row
    }

    .produtor img {
        width: 30%;
        height: auto;
        border-radius: 8px;
        margin-right: 5%;
    }

    #produtos {
        width: 40%;
    }

    .tabela {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .carrinho {
        display: flex;
        justify-content: flex-end;
    }
}